In [8]:
%run ../../libs/helper.py

In [2]:
import numpy as np
import pandas as pd

In [3]:
__data_dir = "../../data/Visual_well_being/"
survey: object = pd.read_pickle(__data_dir + "survey.pickle")
survey['insta_user_id'] = survey['insta_user_id'].astype(int)

In [4]:
df = aggregate()

In [5]:
user = pd.merge(df, survey, left_on = 'user_id', right_on = 'insta_user_id')

In [9]:
clean_df = clean_data_after_merging_features(user)

In [10]:
clean_df.head()

,age,user_followed_by,user_follows,user_posted_photos,ratio_Abyssinian,ratio_Alcohol,ratio_Animal,ratio_Appliance,ratio_Architecture,ratio_Art,...,employed,income,participate,P,E,R,M,A,PERMA,imagecount
0,42,364.0,814.0,2037.0,0.0,0.000000,0.009327,0.000491,0.000491,0.000491,...,0,5,1,3.000000,5.333333,3.666667,5.333333,5.333333,4.4375,1515.0
1,36,198.0,288.0,124.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,2,6,1,7.666667,8.333333,7.333333,7.666667,8.000000,7.8750,123.0
2,21,311.0,240.0,350.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,3,1,1,4.666667,8.000000,6.333333,4.666667,5.000000,5.6875,350.0
3,37,732.0,943.0,610.0,0.0,0.001639,0.000000,0.000000,0.000000,0.001639,...,6,1,1,10.000000,9.333333,10.000000,9.333333,7.666667,9.2500,609.0
4,29,24.0,65.0,64.0,0.0,0.000000,0.015625,0.000000,0.000000,0.000000,...,2,2,1,6.333333,4.666667,8.333333,5.666667,8.333333,6.6250,64.0

In [11]:
clean_df.shape

(158, 340)

In [12]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 158
Columns: 340 entries, age to imagecount
dtypes: float64(333), int32(1), int64(1), int8(5)
memory usage: 414.9 KB

In [13]:
clean_df.to_pickle(__data_dir + 'merged_features.pickle')