In [1]:
%run ../../libs/helper.py

In [2]:
import numpy as np
import pandas as pd

In [3]:
__data_dir = "../../data/Visual_well_being/"
survey = pd.read_pickle(__data_dir + "survey.pickle")
survey['insta_user_id'] = survey['insta_user_id'].astype(int)

In [4]:
df = aggregate()

In [5]:
user = pd.merge(df, survey, left_on = 'user_id', right_on = 'insta_user_id')

In [6]:
user.head()

,user_id,age,user_followed_by,user_follows,user_posted_photos,Abyssinian,Acanthaceae,Accessories,Accordion,Acorn,...,P,E,R,M,A,PERMA,N_EMO,P_EMO,imagecount,private_account
0,619868570,41,612.0,1987.0,469.0,0.000000,0.0,0.000000,0.0,0.0,...,4.333333,4.000000,4.666667,5.000000,3.666667,4.2500,4.000000,4.333333,465.0,public
1,187920333,38,68.0,170.0,6.0,0.000000,0.0,0.000000,0.0,0.0,...,9.000000,7.333333,9.000000,8.000000,7.666667,8.2500,0.000000,9.000000,6.0,public
2,33420910,26,271.0,247.0,769.0,0.000000,0.0,0.002601,0.0,0.0,...,8.000000,7.333333,7.666667,7.666667,7.333333,7.5625,3.333333,8.000000,767.0,public
3,2143580844,19,13.0,13.0,43.0,0.046512,0.0,0.000000,0.0,0.0,...,6.000000,4.666667,3.666667,6.666667,5.666667,5.3750,6.000000,6.000000,43.0,public
4,263042348,23,316.0,347.0,73.0,0.000000,0.0,0.000000,0.0,0.0,...,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public

In [7]:
user.shape

(162, 2162)

In [11]:
user.user_id.value_counts()

703978203     4
1556973431    4
4147997969    1
2123557533    1
451627351     1
2004139606    1
1981406762    1
42566739      1
1223036636    1
1414011473    1
215578623     1
1905491454    1
4149909836    1
242886474     1
2010977006    1
1249457735    1
30837828      1
11520833      1
287562303     1
49846561      1
545252488     1
2829661       1
53918317      1
1804133497    1
3988856       1
55520631      1
206726006     1
3041716852    1
9931123       1
33420910      1
             ..
1976682131    1
45655555      1
416455611     1
31736205      1
1753541345    1
452851338     1
1224423305    1
1950544520    1
265063047     1
555477511     1
1097967773    1
1600397470    1
246535583     1
2092276386    1
531942752     1
1484680967    1
31447990      1
183823541     1
249861555     1
48972978      1
2125642670    1
2143580844    1
8854187       1
30738858      1
289794729     1
2270275269    1
345836709     1
1654216643    1
3092060835    1
7410944       1
Name: user_id, Length: 156, dtype: int64