In [2]:
%run ../../libs/helper.py

In [3]:
import numpy as np
import pandas as pd

In [4]:
__data_dir = "../../data/Visual_well_being/"
survey = pd.read_pickle(__data_dir + "survey.pickle")
survey['insta_user_id'] = survey['insta_user_id'].astype(int)

In [5]:
df = aggregate()

In [8]:
user = pd.merge(df, survey, left_on = 'user_id', right_on = 'insta_user_id')

In [9]:
clean_df = clean_data_after_merging_features(user)

In [10]:
clean_df.head()

,age,user_followed_by,user_follows,user_posted_photos,Person,Plant,Food,Collage,Outdoors,Book,...,employed,income,participate,P,E,R,M,A,PERMA,imagecount
0,42,364.0,814.0,2037.0,0.024546,0.006382,0.000000,0.003927,0.005400,0.003927,...,0,5,1,3.000000,5.333333,3.666667,5.333333,5.333333,4.4375,1515.0
1,36,198.0,288.0,124.0,0.024194,0.000000,0.000000,0.008065,0.000000,0.000000,...,2,6,1,7.666667,8.333333,7.333333,7.666667,8.000000,7.8750,123.0
2,21,311.0,240.0,350.0,0.017143,0.000000,0.002857,0.000000,0.000000,0.000000,...,3,1,1,4.666667,8.000000,6.333333,4.666667,5.000000,5.6875,350.0
3,37,732.0,943.0,610.0,0.019672,0.000000,0.001639,0.001639,0.001639,0.000000,...,6,1,1,10.000000,9.333333,10.000000,9.333333,7.666667,9.2500,609.0
4,29,24.0,65.0,64.0,0.031250,0.031250,0.000000,0.000000,0.015625,0.000000,...,2,2,1,6.333333,4.666667,8.333333,5.666667,8.333333,6.6250,64.0

In [11]:
clean_df.shape

(158, 93)

In [12]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 158
Data columns (total 93 columns):
age                                           158 non-null int64
user_followed_by                              158 non-null float64
user_follows                                  158 non-null float64
user_posted_photos                            158 non-null float64
Person                                        158 non-null float64
Plant                                         158 non-null float64
Food                                          158 non-null float64
Collage                                       158 non-null float64
Outdoors                                      158 non-null float64
Book                                          158 non-null float64
Sky                                           158 non-null float64
Alcohol                                       158 non-null float64
Crowd                                         158 non-null float64
Toy                                           158 non-null float64
Coast                                         158 non-null float64
Tree                                          158 non-null float64
Beach                                         158 non-null float64
Sport                                         158 non-null float64
Teddy Bear                                    158 non-null float64
Sunlight                                      158 non-null float64
Light                                         158 non-null float64
Drawing                                       158 non-null float64
Sea Life                                      158 non-null float64
TV                                            158 non-null float64
Dusk                                          158 non-null float64
Bikini                                        158 non-null float64
Sunrise                                       158 non-null float64
Sunset                                        158 non-null float64
Swimwear                                      158 non-null float64
Selfie                                        158 non-null float64
Beard                                         158 non-null float64
Woman                                         158 non-null float64
Cocktail                                      158 non-null float64
Pool                                          158 non-null float64
Performer                                     158 non-null float64
Coffee Cup                                    158 non-null float64
Tattoo                                        158 non-null float64
Downtown                                      158 non-null float64
Musical Instrument                            158 non-null float64
Festival                                      158 non-null float64
City                                          158 non-null float64
Laptop                                        158 non-null float64
Pizza                                         158 non-null float64
Cloud                                         158 non-null float64
Beer Bottle                                   158 non-null float64
Money                                         158 non-null float64
Club                                          158 non-null float64
Airplane                                      158 non-null float64
Sketch                                        158 non-null float64
Sandwich                                      158 non-null float64
Cafeteria                                     158 non-null float64
Breakfast                                     158 non-null float64
Child                                         158 non-null float64
avg_number_of_faces_over_images_with_faces    158 non-null float64
avg_number_of_faces_over_all_images           158 non-null float64
avg_likes                                     158 non-null float64
avg_comments                                  158 non-null float64
happy_flt_pct                                 158 non-null float64
depressed_flt_pct                             158 non-null float64
happy_to_depressed_flt_ratio                  158 non-null float64
avg_posts_early_day                           158 non-null float64
avg_posts_late_day                            158 non-null float64
avg_posts_early_night                         158 non-null float64
avg_posts_late_night                          158 non-null float64
avg_posts_day                                 158 non-null float64
avg_posts_night                               158 non-null float64
avg_posts_whole_date                          158 non-null float64
percentage_animals                            158 non-null float64
ANGRY                                         158 non-null float64
CALM                                          158 non-null float64
CONFUSED                                      158 non-null float64
DISGUSTED                                     158 non-null float64
HAPPY                                         158 non-null float64
SAD                                           158 non-null float64
SURPRISED                                     158 non-null float64
ratio_male                                    158 non-null float64
ratio_female                                  158 non-null float64
cluster_0                                     158 non-null float64
cluster_1                                     158 non-null float64
cluster_2                                     158 non-null float64
gender                                        158 non-null int8
born                                          158 non-null int32
education                                     158 non-null int8
employed                                      158 non-null int8
income                                        158 non-null int8
participate                                   158 non-null int8
P                                             158 non-null float64
E                                             158 non-null float64
R                                             158 non-null float64
M                                             158 non-null float64
A                                             158 non-null float64
PERMA                                         158 non-null float64
imagecount                                    158 non-null float64
dtypes: float64(86), int32(1), int64(1), int8(5)
memory usage: 110.0 KB

In [14]:
clean_df.to_pickle(__data_dir + 'merged_features.pickle')