In [1]:
%run ../../libs/helper.py

In [2]:
import numpy as np
import pandas as pd

In [3]:
__data_dir = "../../data/Visual_well_being/"
survey = pd.read_pickle(__data_dir + "survey.pickle")
survey['insta_user_id'] = survey['insta_user_id'].astype(int)

In [5]:
df = aggregate()

In [9]:
user = pd.merge(df, survey, left_on = 'user_id', right_on = 'insta_user_id')

In [10]:
user.head()

,user_id,age,user_followed_by,user_follows,user_posted_photos,Person,Plant,Food,Collage,Animal,...,P,E,R,M,A,PERMA,N_EMO,P_EMO,imagecount,private_account
0,1619510,42.0,364.0,814.0,2037.0,0.220913,0.034855,0.013746,0.025037,0.019146,...,3.000000,5.333333,3.666667,5.333333,5.333333,4.4375,3.000000,3.000000,1515.0,public
1,2829661,36.0,198.0,288.0,124.0,0.306452,0.008065,0.056452,0.008065,0.000000,...,7.666667,8.333333,7.333333,7.666667,8.000000,7.8750,5.666667,7.666667,123.0,public
2,3069744,21.0,311.0,240.0,350.0,0.482857,0.005714,0.037143,0.057143,0.017143,...,4.666667,8.000000,6.333333,4.666667,5.000000,5.6875,5.000000,4.666667,350.0,public
3,3988856,37.0,732.0,943.0,610.0,0.191803,0.011475,0.011475,0.011475,0.018033,...,10.000000,9.333333,10.000000,9.333333,7.666667,9.2500,3.333333,10.000000,609.0,public
4,4185084,29.0,24.0,65.0,64.0,0.281250,0.125000,0.000000,0.015625,0.078125,...,6.333333,4.666667,8.333333,5.666667,8.333333,6.6250,4.333333,6.333333,64.0,public

In [11]:
user.shape

(159, 129)

In [12]:
user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 0 to 158
Columns: 129 entries, user_id to private_account
dtypes: category(9), datetime64[ns](1), float64(92), int32(23), int64(3), object(1)
memory usage: 177.2+ KB

In [15]:
user.columns.tolist()

['user_id',
 'age',
 'user_followed_by',
 'user_follows',
 'user_posted_photos',
 'Person',
 'Plant',
 'Food',
 'Collage',
 'Animal',
 'Outdoors',
 'Pet',
 'Book',
 'Dog',
 'Canine',
 'Sky',
 'Alcohol',
 'Crowd',
 'Toy',
 'Cat',
 'Coast',
 'Tree',
 'Beach',
 'Sport',
 'Teddy Bear',
 'Sunlight',
 'Light',
 'Drawing',
 'Sea Life',
 'TV',
 'Dusk',
 'Bikini',
 'Sunrise',
 'Sunset',
 'Swimwear',
 'Selfie',
 'Beard',
 'Woman',
 'Cocktail',
 'Pool',
 'Performer',
 'Coffee Cup',
 'Tattoo',
 'Downtown',
 'Musical Instrument',
 'Festival',
 'City',
 'Laptop',
 'Pizza',
 'Cloud',
 'Beer Bottle',
 'Money',
 'Club',
 'Airplane',
 'Sketch',
 'Sandwich',
 'Cafeteria',
 'Breakfast',
 'Child',
 'avg_number_of_faces_over_images_with_faces',
 'avg_number_of_faces_over_all_images',
 'avg_likes',
 'avg_comments',
 'happy_flt_pct',
 'depressed_flt_pct',
 'happy_to_depressed_flt_ratio',
 'avg_posts_early_day',
 'avg_posts_late_day',
 'avg_posts_early_night',
 'avg_posts_late_night',
 'avg_posts_day',
 'avg_posts_night',
 'avg_posts_whole_date',
 'percentage_animals',
 'ANGRY',
 'CALM',
 'CONFUSED',
 'DISGUSTED',
 'HAPPY',
 'SAD',
 'SURPRISED',
 'ratio_male',
 'ratio_female',
 'index',
 'id',
 'gender',
 'born',
 'education',
 'employed',
 'income',
 'A_2',
 'N_1',
 'P_1',
 'E_1',
 'A_1',
 'H_1',
 'M_1',
 'R_1',
 'M_2',
 'E_2',
 'LON',
 'H_2',
 'P_2',
 'N_2',
 'A_3',
 'N_3',
 'E_3',
 'H_3',
 'R_2',
 'M_3',
 'R_3',
 'P_3',
 'HAP',
 'participate',
 'insta_user_id',
 'completed',
 'start_q',
 'end_q',
 'network_id',
 'P',
 'E',
 'R',
 'M',
 'A',
 'PERMA',
 'N_EMO',
 'P_EMO',
 'imagecount',
 'private_account']

In [16]:
user.to_pickle(__data_dir + 'merged_features.pickle')