In [1]:
import pandas as pd

In [3]:
m = pd.read_pickle("../../data/Visual_well_being/merged_features.pickle")

In [4]:
m.head()

,age,user_followed_by,user_follows,user_posted_photos,Person,Plant,Food,Collage,Outdoors,Book,...,employed,income,participate,P,E,R,M,A,PERMA,imagecount
0,42,364.0,814.0,2037.0,0.024546,0.006382,0.000000,0.003927,0.005400,0.003927,...,0,5,1,3.000000,5.333333,3.666667,5.333333,5.333333,4.4375,1515.0
1,36,198.0,288.0,124.0,0.024194,0.000000,0.000000,0.008065,0.000000,0.000000,...,2,6,1,7.666667,8.333333,7.333333,7.666667,8.000000,7.8750,123.0
2,21,311.0,240.0,350.0,0.017143,0.000000,0.002857,0.000000,0.000000,0.000000,...,3,1,1,4.666667,8.000000,6.333333,4.666667,5.000000,5.6875,350.0
3,37,732.0,943.0,610.0,0.019672,0.000000,0.001639,0.001639,0.001639,0.000000,...,6,1,1,10.000000,9.333333,10.000000,9.333333,7.666667,9.2500,609.0
4,29,24.0,65.0,64.0,0.031250,0.031250,0.000000,0.000000,0.015625,0.000000,...,2,2,1,6.333333,4.666667,8.333333,5.666667,8.333333,6.6250,64.0

In [5]:
m.shape

(158, 106)

In [ ]:
# split data

In [ ]:
# gbm
# linear modle
# SVM linear Modle

In [ ]:
for i in models():
    # feature selection